* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stay-on-channel {
  color: #eb625b;
}

.light-blue {
  color: #6198ca;
}

#yt-icon {
  vertical-align: middle;
  height: 60px;
  margin-top: -6px;
}

html, body, h1, #content {
  margin: 0;
  padding: 0;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background: -webkit-radial-gradient(50% 25%, rgba(208, 200, 200, 0.20), rgba(239, 255, 253, 0.59));
  background-attachment: fixed;

  font-family: Georgia, Arial, serif;
}

fieldset {
  width: 750px;
  margin: 20px;
  padding: 0 15px 15px;
  border: 1px solid #afafaf;
  border-radius: 15px;
}

fieldset legend {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

fieldset ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset ul li {
  margin-bottom: 8px;
}

fieldset label {
  cursor: pointer;
  display: block;
  padding-left: 20px;
  text-indent: -23px;
}

fieldset label input {
  width: 20px;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -2px;
}

fieldset label sup {
  text-decoration: underline;
  color: #00008b;
}

#success {
  display: none;
  opacity: 0;
  color: green;
}

#failure {
  display: none;
  opacity: 0;
  color: #e76c6c;
}

.small {
  font-size: 13px;
}

.italic {
  font-style: italic;
}

header:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 3px double rgb(226, 226, 226);
}

h1 {
  cursor: pointer;
  font-size: 32px;
  color: #eb625b;
  padding: 20px;
  background: none repeat scroll 0 0 #e9e9e9;
  text-shadow: 0 -1px 1px #FFFFFF, 0 1px 1px #666666;
  border-bottom: 1px solid #c2c2c2;
}