.soc_zoom {
  cursor: pointer;
  padding: 0 3px;
}

div.channels-featured-video.soc_channel-module {
  margin: 0;
  padding: 0;
}

div.channels-featured-video.soc_channel-module-margin {
  margin: 0;
  padding: 0;
  margin-left: -8px;
}


.soc_zoom:hover {
  -webkit-filter: sepia(1);
}

.soc_zoom.disabled {
  cursor: default;
  -webkit-filter: contrast(.5);
}